@page
@model Project.Pages.Collection_PageModel
@{

    ViewData["Title"] = "Collection";
    Layout = "_Layout_Profile";
}
@* 
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3 style="color: black;">Collection Name</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="recepie_area plus_padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single_recepie text-center">
                    <div class="recepie_thumb">
                        <img src="img/recepie/recpie_1.png" alt="">
                    </div>
                    <h3>Zesty Lemon Herb Roasted Salmon</h3>
                    <span>Appetizer</span>
                    <p>Time Needs: 25 Mins</p>
                    <a href="Zesty Lemon" class="line_btn">View Full Recipe</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single_recepie text-center">
                    <div class="recepie_thumb">
                        <img src="img/recepie/recpie_2.png" alt="">
                    </div>
                    <h3>Mouthwatering Maple Glazed Pork Chops</h3>
                    <span>Appetizer</span>
                    <p>Time Needs: 30 Mins</p>
                    <a href="/Index" class="line_btn">View Full Recipe</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single_recepie text-center">
                    <div class="recepie_thumb">
                        <img src="img/recepie/recpie_3.png" alt="">
                    </div>
                    <h3>Creamy Mushroom and Spinach Pasta</h3>
                    <span>Appetizer</span>
                    <p>Time Needs: 20 Mins</p>
                    <a href="/Index1" class="line_btn">View Full Recipe</a>
                </div>
            </div>
</div>
</div> *@



<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3 style="color: black;"> @Model.Collectioname</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="recepie_area plus_padding">
    <div class="container">
        <div class="row">
            @foreach (var recipe in Model.recipes)
            {
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single_recepie text-center">
                        <div class="recepie_thumb">
                            <img src="img/recepie/@recipe.Image" alt="Image">
                        </div>
                        <h3>@recipe.Description</h3>
@*                         <span>@recipe.</span>
 *@                        <p>Time Needs: @recipe.PreparationTime Mins<br> Difficulty Level: @recipe.DifficultyLevel</p>
 <form>

                        <a href="/OneRecipe?RecipeId=@recipe.RecipeId" class="line_btn">View Full Recipe</a>
 </form>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
